In [ ]:
# Dump Path: r'/content/drive/My Drive/BE Project/Rewards Dataset Cleaning Dumps/'
# Dataset Path
# r'/content/drive/My Drive/Predictive Analysis of Crowdfunding Platforms/4.Rewards Dataset (Initial)/Rewards Dataset.csv'

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import glob
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Load the dataset
df = pd.read_csv(r'/content/drive/My Drive/Predictive Analysis of Crowdfunding Platforms/4.Rewards Dataset (Initial)/Rewards Dataset.csv', error_bad_lines=False, engine='python')
print(df.shape)
df.head()

(45957, 17)

   project id  ... duration
0       39409  ...    30.00
1      126581  ...    47.18
2      138119  ...    28.00
3      237090  ...    32.22
4      246101  ...    30.00

[5 rows x 17 columns]

In [ ]:
# Check for duplicate rows
duplicateDf = df[df.duplicated(['name', 'url'])] 
print(duplicateDf)

       project id  ... duration
45652  2140333236  ...    67.00
45654  2140344109  ...    32.00
45656  2140513451  ...    43.27
45658  2140547791  ...    45.00
45660  2140567876  ...    48.34
...           ...  ...      ...
45926  2146281925  ...    60.04
45928  2146319054  ...    60.99
45930  2146435917  ...    30.00
45932  2146437406  ...    30.00
45934  2146534146  ...    60.00

[142 rows x 17 columns]

In [ ]:
# Remove duplicate rows
df.drop_duplicates(subset=['name', 'url'], keep='first', inplace=True)
df.tail()

       project id  ... duration
45952  2147336747  ...    37.83
45953  2147346811  ...    59.96
45954  2147367534  ...    27.32
45955  2147369705  ...    30.00
45956  2147460119  ...    40.38

[5 rows x 17 columns]

In [ ]:
# Reset Index
df.reset_index(drop=True, inplace=True)
df.tail()

       project id  ... duration
45810  2147336747  ...    37.83
45811  2147346811  ...    59.96
45812  2147367534  ...    27.32
45813  2147369705  ...    30.00
45814  2147460119  ...    40.38

[5 rows x 17 columns]

In [ ]:
# Drop columns which are not useful
df.drop(['project id', 'name', 'url', 'funded percentage', 'funded date'], axis=1, inplace=True)
print(df.shape)
df.head()

(45815, 12)

       category         subcategory  ... comments duration
0  Film & Video          Short Film  ...        2    30.00
1         Games  Board & Card Games  ...        0    47.18
2  Film & Video           Animation  ...        0    28.00
3  Film & Video         Documentary  ...        0    32.22
4       Fashion             Fashion  ...        0    30.00

[5 rows x 12 columns]

In [ ]:
# Analysis of the Project State
df['status'].value_counts()

successful    22902
failed        18939
live           3912
canceled         58
suspended         4
Name: status, dtype: int64

In [ ]:
# Consider only successful and failed projects
df = df[(df['status'] == 'successful') | (df['status'] == 'failed')]
df.tail()

         category     subcategory         location  ... updates  comments  duration
45810       Dance           Dance       Austin, TX  ...       2         0     37.83
45811       Music         Hip-Hop  Los Angeles, CA  ...       1         1     59.96
45812       Music            Rock  Los Angeles, CA  ...       2         0     27.32
45813  Publishing         Fiction   Vero Beach, FL  ...      17         0     30.00
45814         Art  Conceptual Art      Bozeman, MT  ...      20         4     40.38

[5 rows x 12 columns]

In [ ]:
# Reset Index
df.reset_index(drop=True, inplace=True)
df.tail()

         category     subcategory         location  ... updates  comments  duration
41836       Dance           Dance       Austin, TX  ...       2         0     37.83
41837       Music         Hip-Hop  Los Angeles, CA  ...       1         1     59.96
41838       Music            Rock  Los Angeles, CA  ...       2         0     27.32
41839  Publishing         Fiction   Vero Beach, FL  ...      17         0     30.00
41840         Art  Conceptual Art      Bozeman, MT  ...      20         4     40.38

[5 rows x 12 columns]

In [ ]:
# Label Encoding of Project Status
df['status'] = df['status'].replace({'successful': 1, 'failed': 0})
df.head()

       category         subcategory  ... comments  duration
0  Film & Video          Short Film  ...        2     30.00
1         Games  Board & Card Games  ...        0     47.18
2  Film & Video         Documentary  ...        0     32.22
3       Fashion             Fashion  ...        0     30.00
4  Film & Video          Short Film  ...        0     21.43

[5 rows x 12 columns]

In [ ]:
# Check for Null Values
df.isnull().sum()

category            0
subcategory         0
location         1318
status              0
goal                0
pledged             0
backers             0
levels              0
reward levels      59
updates             0
comments            0
duration            0
dtype: int64

In [ ]:
# Drop Null Values
df.dropna(inplace=True)
df.shape

(40480, 12)

In [ ]:
# Reset Index
df.reset_index(drop=True, inplace=True)
df.tail()

         category     subcategory         location  ...  updates  comments  duration
40475       Dance           Dance       Austin, TX  ...        2         0     37.83
40476       Music         Hip-Hop  Los Angeles, CA  ...        1         1     59.96
40477       Music            Rock  Los Angeles, CA  ...        2         0     27.32
40478  Publishing         Fiction   Vero Beach, FL  ...       17         0     30.00
40479         Art  Conceptual Art      Bozeman, MT  ...       20         4     40.38

[5 rows x 12 columns]

In [ ]:
# Analysis of Project Location
df['location'] = df['location'].str.split(', ').str[1]
df.head()

       category         subcategory location  ...  updates  comments  duration
0  Film & Video          Short Film       MO  ...       10         2     30.00
1         Games  Board & Card Games       NJ  ...        6         0     47.18
2  Film & Video         Documentary       CA  ...        4         0     32.22
3       Fashion             Fashion       MI  ...        2         0     30.00
4  Film & Video          Short Film       OR  ...        8         0     21.43

[5 rows x 12 columns]

In [ ]:
with np.printoptions(threshold=np.inf):
  print(df['location'].unique())

['MO' 'NJ' 'CA' 'MI' 'OR' 'TN' 'IL' 'NY' 'DC' 'ID' 'FL' 'TX' 'CO' 'ME'
 'Taiwan' 'IN' 'Norway' 'MN' 'NC' 'MA' 'PA' 'CT' 'Chile' 'MD' 'HI' 'VA'
 'WA' 'AZ' 'OH' 'NV' 'Haiti' 'GA' 'AL' 'UT' 'Canada' 'LA' 'SC' 'Ecuador'
 'WI' 'Jamaica' 'Argentina' 'Hong Kong' 'Germany' 'NM' 'NE' 'Guatemala'
 'IA' 'WY' 'Australia' 'RI' 'Sweden' 'OK' 'DE' 'South Africa' 'AK' 'WV'
 'Nepal' 'MT' 'KY' 'VT' 'Kenya' 'Bosnia and Herzegovina' 'Iceland'
 'Mexico' 'KS' 'Hungary' 'Indonesia' 'China' 'SD' 'Cuba' 'Peru' 'Italy'
 'Netherlands' 'Singapore' 'Ethiopia' 'NH' 'New Zealand' 'France'
 'United Kingdom' 'Austria' 'Turkey' 'AR' 'Mt' 'Congo' 'Colombia' 'India'
 'Mongolia' 'MS' 'Israel' 'Dominica' 'Finland' 'Czech Republic' 'Japan'
 'Virgin Islands' 'Lebanon' 'Armenia' 'Portugal' 'Qatar' 'Morocco'
 'Martinique' 'Puerto Rico' 'Afghanistan' 'Denmark' 'Tanzania'
 'Kazakhstan' 'Zambia' 'Switzerland' 'Egypt' 'Svalbard and Jan Mayen' 'ND'
 'Liberia' 'Ghana' 'Nicaragua' 'Russia' 'Ukraine' 'Bulgaria' 'South Korea'
 'Brazil' 'Rwanda' 'Spain' 'Costa Rica' 'Philippines' 'Pakistan'
 'El Salvador' 'Panama' 'United Arab Emirates' 'Honduras'
 'Palestinian Territories' 'Poland' 'Georgia' 'Syrian Arab Republic'
 'Cambodia' 'Nigeria' 'Mali' 'Saudi Arabia' 'Argent' 'Iraq' 'Cameroon'
 'Namibia' 'Ireland' 'Bolivia' nan 'Venezuela' 'Thailand' 'Jordan'
 'Zimbabwe' 'Iran' 'Tunisia' 'Greece' 'Sierra Leone' 'Isle of Man'
 'Central African Republic' 'Serbia' 'Belize' 'Uganda' 'Malta' 'Slovenia'
 'Sudan' 'Belgium' 'Myanmar' 'Malaysia' 'Greenland' 'Senegal' 'Bahamas'
 'Malawi' 'Romania' 'Mozambique' 'Bhutan' 'Lithuania' 'Micronesia'
 'Tajikistan' 'Sri Lanka' 'Libyan Arab Jamahiriya' 'Guinea' 'Kyoto'
 'Bermuda' 'Belarus' 'Estonia' 'Suriname' 'Dominican Republic' 'Vanuatu'
 'Trinidad and Tobago' 'Cyprus' 'Macedonia' 'Viet Nam' 'Swaziland'
 'Falkland Islands' 'Kyrgyzstan' 'Bangladesh' 'Laos' 'Middleburg'
 'Papua New Guinea' 'Uruguay' 'Guam' 'Dominican Re' 'Saint Lucia']

In [ ]:
df['location'].value_counts()

CA                        8191
NY                        6605
TX                        1839
IL                        1706
FL                        1401
                          ...
Libyan Arab Jamahiriya       1
Guinea                       1
Guam                         1
Uruguay                      1
Dominican Re                 1
Name: location, Length: 195, dtype: int64

In [ ]:
# Drop Null Values
df.dropna(inplace=True)
df.shape

(40479, 12)

In [ ]:
# Reset Index
df.reset_index(drop=True, inplace=True)
df.tail()

         category     subcategory location  ...  updates  comments  duration
40474       Dance           Dance       TX  ...        2         0     37.83
40475       Music         Hip-Hop       CA  ...        1         1     59.96
40476       Music            Rock       CA  ...        2         0     27.32
40477  Publishing         Fiction       FL  ...       17         0     30.00
40478         Art  Conceptual Art       MT  ...       20         4     40.38

[5 rows x 12 columns]

In [ ]:
# Replace all states in US with United States
united_states_array = set()
for i in range(len(df)):
  # print(df.loc[i, 'location'])
  if len(df.loc[i, 'location']) == 2:
    united_states_array.add(df.loc[i, 'location'])
print(united_states_array)

{'DC', 'Mt', 'ND', 'CO', 'AR', 'NE', 'SC', 'MA', 'MN', 'CA', 'TX', 'VA', 'IL', 'WY', 'OK', 'GA', 'RI', 'AZ', 'AK', 'DE', 'KY', 'MD', 'WA', 'MS', 'CT', 'ID', 'UT', 'LA', 'TN', 'WI', 'AL', 'NC', 'NV', 'OH', 'MI', 'PA', 'VT', 'MT', 'NH', 'OR', 'FL', 'WV', 'MO', 'IA', 'SD', 'KS', 'NJ', 'IN', 'NM', 'HI', 'ME', 'NY'}

In [ ]:
united_states_array = list(united_states_array)
df["location"].replace(united_states_array, "United States", inplace=True)
df.head()

       category         subcategory       location  ...  updates  comments  duration
0  Film & Video          Short Film  United States  ...       10         2     30.00
1         Games  Board & Card Games  United States  ...        6         0     47.18
2  Film & Video         Documentary  United States  ...        4         0     32.22
3       Fashion             Fashion  United States  ...        2         0     30.00
4  Film & Video          Short Film  United States  ...        8         0     21.43

[5 rows x 12 columns]

In [ ]:
df['location'].value_counts()

United States     38378
Canada              264
United Kingdom      191
Germany             102
Mexico               78
                  ...
Kyrgyzstan            1
Namibia               1
Estonia               1
Martinique            1
Dominican Re          1
Name: location, Length: 144, dtype: int64

In [ ]:
# Round up Goal Amount
df['goal'] = df['goal'].astype(float).round().astype(int)
df.head()

       category         subcategory       location  ...  updates  comments  duration
0  Film & Video          Short Film  United States  ...       10         2     30.00
1         Games  Board & Card Games  United States  ...        6         0     47.18
2  Film & Video         Documentary  United States  ...        4         0     32.22
3       Fashion             Fashion  United States  ...        2         0     30.00
4  Film & Video          Short Film  United States  ...        8         0     21.43

[5 rows x 12 columns]

In [ ]:
# Round up Pledged Amount
df['pledged'] = df['pledged'].astype(float).round().astype(int)
df.head()

       category         subcategory       location  ...  updates  comments  duration
0  Film & Video          Short Film  United States  ...       10         2     30.00
1         Games  Board & Card Games  United States  ...        6         0     47.18
2  Film & Video         Documentary  United States  ...        4         0     32.22
3       Fashion             Fashion  United States  ...        2         0     30.00
4  Film & Video          Short Film  United States  ...        8         0     21.43

[5 rows x 12 columns]

In [ ]:
# Round up Project Duration
df['duration'] = df['duration'].astype(float).round().astype(int)
df.head()

       category         subcategory       location  ...  updates  comments  duration
0  Film & Video          Short Film  United States  ...       10         2        30
1         Games  Board & Card Games  United States  ...        6         0        47
2  Film & Video         Documentary  United States  ...        4         0        32
3       Fashion             Fashion  United States  ...        2         0        30
4  Film & Video          Short Film  United States  ...        8         0        21

[5 rows x 12 columns]

In [ ]:
# Analysis of Category Column
df['category'].value_counts()

Film &amp; Video    11686
Music                9789
Publishing           3964
Art                  3564
Theater              2274
Design               1531
Games                1412
Photography          1290
Food                 1263
Fashion               999
Comics                927
Technology            695
Dance                 687
Film & Video          398
Name: category, dtype: int64

In [ ]:
df['category'] = df['category'].replace({'Film &amp; Video': 'Film & Video'})
df['category'].value_counts()

Film & Video    12084
Music            9789
Publishing       3964
Art              3564
Theater          2274
Design           1531
Games            1412
Photography      1290
Food             1263
Fashion           999
Comics            927
Technology        695
Dance             687
Name: category, dtype: int64

In [ ]:
# Analysis of Sub Category Column
df['subcategory'].value_counts()

Short Film                3634
Documentary               3460
Music                     2944
Theater                   2274
Film &amp; Video          2270
Indie Rock                1753
Rock                      1606
Narrative Film            1364
Photography               1290
Food                      1263
Fashion                    999
Webseries                  999
Art                        969
Comics                     927
Fiction                    901
Product Design             896
Nonfiction                 838
Country &amp; Folk         728
Video Games                720
Dance                      687
Pop                        674
Publishing                 595
Children's Book            529
Public Art                 508
Painting                   457
Performance Art            446
Classical Music            418
Hip-Hop                    410
Mixed Media                406
Jazz                       398
Board &amp; Card Games     369
World Music                366
Animation                  357
Journalism                 353
Technology                 322
Sculpture                  316
Art Book                   295
Electronic Music           265
Periodical                 260
Design                     256
Games                      232
Country & Folk             227
Crafts                     220
Open Software              212
Poetry                     193
Illustration               176
Open Hardware              161
Graphic Design             159
Conceptual Art             157
Digital Art                129
Board & Card Games          91
Name: subcategory, dtype: int64

In [ ]:
df['subcategory'] = df['subcategory'].replace({'Film &amp; Video': 'Film & Video', 'Country &amp; Folk': 'Country & Folk', 'Board &amp; Card Games': 'Board & Card Games'})
df['subcategory'].value_counts()

Short Film            3634
Documentary           3460
Music                 2944
Theater               2274
Film & Video          2270
Indie Rock            1753
Rock                  1606
Narrative Film        1364
Photography           1290
Food                  1263
Webseries              999
Fashion                999
Art                    969
Country & Folk         955
Comics                 927
Fiction                901
Product Design         896
Nonfiction             838
Video Games            720
Dance                  687
Pop                    674
Publishing             595
Children's Book        529
Public Art             508
Board & Card Games     460
Painting               457
Performance Art        446
Classical Music        418
Hip-Hop                410
Mixed Media            406
Jazz                   398
World Music            366
Animation              357
Journalism             353
Technology             322
Sculpture              316
Art Book               295
Electronic Music       265
Periodical             260
Design                 256
Games                  232
Crafts                 220
Open Software          212
Poetry                 193
Illustration           176
Open Hardware          161
Graphic Design         159
Conceptual Art         157
Digital Art            129
Name: subcategory, dtype: int64

In [ ]:
# Rename columns for consistency
df.rename(columns={'category':'main_category', 'subcategory':'sub_category', 'location': 'country', 'reward levels': 'reward_levels'}, inplace=True)
df.head()

  main_category        sub_category        country  ...  updates  comments  duration
0  Film & Video          Short Film  United States  ...       10         2        30
1         Games  Board & Card Games  United States  ...        6         0        47
2  Film & Video         Documentary  United States  ...        4         0        32
3       Fashion             Fashion  United States  ...        2         0        30
4  Film & Video          Short Film  United States  ...        8         0        21

[5 rows x 12 columns]

### **Categorical Value to Numerical Value: Main Category**

In [ ]:
df['main_category'].nunique()

13

In [ ]:
df['main_category'].value_counts()

Film & Video    12084
Music            9789
Publishing       3964
Art              3564
Theater          2274
Design           1531
Games            1412
Photography      1290
Food             1263
Fashion           999
Comics            927
Technology        695
Dance             687
Name: main_category, dtype: int64

In [ ]:
replacement_key_main_cat = {'main_category': 
{'Film & Video': 1,
 'Music': 2,
 'Publishing': 3,
 'Art': 4,
 'Theater': 5,
 'Design': 6,
 'Games': 7,
 'Photography': 8,
 'Food': 9,
 'Fashion': 10,
 'Comics': 11,
 'Technology': 12,
 'Dance': 13}
 }

In [ ]:
df.replace(replacement_key_main_cat, inplace=True)
df.head()

   main_category        sub_category  ... comments  duration
0              1          Short Film  ...        2        30
1              7  Board & Card Games  ...        0        47
2              1         Documentary  ...        0        32
3             10             Fashion  ...        0        30
4              1          Short Film  ...        0        21

[5 rows x 12 columns]

### **Categorical Value to Numerical Value: Sub Category**

In [ ]:
df['sub_category'].nunique()

49

In [ ]:
value_mapper = dict(zip(df['sub_category'].unique(), np.arange(1, 50)))
replacement_key_sub_cat = {'sub_category':value_mapper}
len(replacement_key_sub_cat['sub_category'])

49

In [ ]:
value_mapper

{'Animation': 15,
 'Art': 31,
 'Art Book': 14,
 'Board & Card Games': 2,
 "Children's Book": 40,
 'Classical Music': 29,
 'Comics': 17,
 'Conceptual Art': 26,
 'Country & Folk': 16,
 'Crafts': 47,
 'Dance': 8,
 'Design': 48,
 'Digital Art': 49,
 'Documentary': 3,
 'Electronic Music': 38,
 'Fashion': 4,
 'Fiction': 11,
 'Film & Video': 10,
 'Food': 30,
 'Games': 13,
 'Graphic Design': 42,
 'Hip-Hop': 43,
 'Illustration': 6,
 'Indie Rock': 7,
 'Jazz': 28,
 'Journalism': 33,
 'Mixed Media': 45,
 'Music': 5,
 'Narrative Film': 21,
 'Nonfiction': 9,
 'Open Hardware': 41,
 'Open Software': 39,
 'Painting': 24,
 'Performance Art': 20,
 'Periodical': 46,
 'Photography': 25,
 'Poetry': 34,
 'Pop': 32,
 'Product Design': 23,
 'Public Art': 44,
 'Publishing': 37,
 'Rock': 27,
 'Sculpture': 36,
 'Short Film': 1,
 'Technology': 19,
 'Theater': 12,
 'Video Games': 22,
 'Webseries': 18,
 'World Music': 35}

In [ ]:
df.replace(replacement_key_sub_cat, inplace=True)
df.head()

   main_category  sub_category        country  ...  updates  comments  duration
0              1             1  United States  ...       10         2        30
1              7             2  United States  ...        6         0        47
2              1             3  United States  ...        4         0        32
3             10             4  United States  ...        2         0        30
4              1             1  United States  ...        8         0        21

[5 rows x 12 columns]

### **Categorical Value to Numerical Value: Country**

In [ ]:
df['country'].nunique()

144

In [ ]:
value_mapper = dict(zip(df['country'].unique(), np.arange(1, 145)*10))
replacement_key_country = {'country':value_mapper}
len(replacement_key_country['country'])

144

In [ ]:
value_mapper

{'Afghanistan': 520,
 'Argent': 850,
 'Argentina': 90,
 'Armenia': 460,
 'Australia': 130,
 'Austria': 330,
 'Bahamas': 1120,
 'Bangladesh': 1370,
 'Belarus': 1250,
 'Belgium': 1070,
 'Belize': 1020,
 'Bermuda': 1240,
 'Bhutan': 1160,
 'Bolivia': 900,
 'Bosnia and Herzegovina': 180,
 'Brazil': 670,
 'Bulgaria': 650,
 'Cambodia': 810,
 'Cameroon': 870,
 'Canada': 60,
 'Central African Republic': 1000,
 'Chile': 40,
 'China': 230,
 'Colombia': 360,
 'Congo': 350,
 'Costa Rica': 700,
 'Cuba': 240,
 'Cyprus': 1310,
 'Czech Republic': 420,
 'Denmark': 530,
 'Dominica': 400,
 'Dominican Re': 1430,
 'Dominican Republic': 1280,
 'Ecuador': 70,
 'Egypt': 580,
 'El Salvador': 730,
 'Estonia': 1260,
 'Ethiopia': 290,
 'Falkland Islands': 1350,
 'Finland': 410,
 'France': 310,
 'Georgia': 790,
 'Germany': 110,
 'Ghana': 610,
 'Greece': 970,
 'Greenland': 1100,
 'Guam': 1420,
 'Guatemala': 120,
 'Guinea': 1220,
 'Haiti': 50,
 'Honduras': 760,
 'Hong Kong': 100,
 'Hungary': 210,
 'Iceland': 190,
 'India': 370,
 'Indonesia': 220,
 'Iran': 950,
 'Iraq': 860,
 'Ireland': 890,
 'Isle of Man': 990,
 'Israel': 390,
 'Italy': 260,
 'Jamaica': 80,
 'Japan': 430,
 'Jordan': 930,
 'Kazakhstan': 550,
 'Kenya': 170,
 'Kyoto': 1230,
 'Kyrgyzstan': 1360,
 'Laos': 1380,
 'Lebanon': 450,
 'Liberia': 600,
 'Libyan Arab Jamahiriya': 1210,
 'Lithuania': 1170,
 'Macedonia': 1320,
 'Malawi': 1130,
 'Malaysia': 1090,
 'Mali': 830,
 'Malta': 1040,
 'Martinique': 500,
 'Mexico': 200,
 'Micronesia': 1180,
 'Middleburg': 1390,
 'Mongolia': 380,
 'Morocco': 490,
 'Mozambique': 1150,
 'Myanmar': 1080,
 'Namibia': 880,
 'Nepal': 160,
 'Netherlands': 270,
 'New Zealand': 300,
 'Nicaragua': 620,
 'Nigeria': 820,
 'Norway': 30,
 'Pakistan': 720,
 'Palestinian Territories': 770,
 'Panama': 740,
 'Papua New Guinea': 1400,
 'Peru': 250,
 'Philippines': 710,
 'Poland': 780,
 'Portugal': 470,
 'Puerto Rico': 510,
 'Qatar': 480,
 'Romania': 1140,
 'Russia': 630,
 'Rwanda': 680,
 'Saint Lucia': 1440,
 'Saudi Arabia': 840,
 'Senegal': 1110,
 'Serbia': 1010,
 'Sierra Leone': 980,
 'Singapore': 280,
 'Slovenia': 1050,
 'South Africa': 150,
 'South Korea': 660,
 'Spain': 690,
 'Sri Lanka': 1200,
 'Sudan': 1060,
 'Suriname': 1270,
 'Svalbard and Jan Mayen': 590,
 'Swaziland': 1340,
 'Sweden': 140,
 'Switzerland': 570,
 'Syrian Arab Republic': 800,
 'Taiwan': 20,
 'Tajikistan': 1190,
 'Tanzania': 540,
 'Thailand': 920,
 'Trinidad and Tobago': 1300,
 'Tunisia': 960,
 'Turkey': 340,
 'Uganda': 1030,
 'Ukraine': 640,
 'United Arab Emirates': 750,
 'United Kingdom': 320,
 'United States': 10,
 'Uruguay': 1410,
 'Vanuatu': 1290,
 'Venezuela': 910,
 'Viet Nam': 1330,
 'Virgin Islands': 440,
 'Zambia': 560,
 'Zimbabwe': 940}

In [ ]:
df.replace(replacement_key_country, inplace=True)
df.head()

   main_category  sub_category  country  ...  updates  comments  duration
0              1             1       10  ...       10         2        30
1              7             2       10  ...        6         0        47
2              1             3       10  ...        4         0        32
3             10             4       10  ...        2         0        30
4              1             1       10  ...        8         0        21

[5 rows x 12 columns]

### **Reward Levels**

In [ ]:
df.dtypes

main_category     int64
sub_category      int64
country           int64
status            int64
goal              int64
pledged           int64
backers           int64
levels            int64
reward_levels    object
updates           int64
comments          int64
duration          int64
dtype: object

In [ ]:
df['reward_levels'] = df['reward_levels'].str.replace(',', '')
df['reward_levels'] = df['reward_levels'].str[1:]
df.head()

   main_category  sub_category  country  ...  updates  comments  duration
0              1             1       10  ...       10         2        30
1              7             2       10  ...        6         0        47
2              1             3       10  ...        4         0        32
3             10             4       10  ...        2         0        30
4              1             1       10  ...        8         0        21

[5 rows x 12 columns]

In [ ]:
df['reward_levels'] = [list(map(int, rewards.split('$'))) for rewards in df['reward_levels']]
df.head()

   main_category  sub_category  country  ...  updates  comments  duration
0              1             1       10  ...       10         2        30
1              7             2       10  ...        6         0        47
2              1             3       10  ...        4         0        32
3             10             4       10  ...        2         0        30
4              1             1       10  ...        8         0        21

[5 rows x 12 columns]

In [ ]:
import statistics
min_reward = []
max_reward = []
mean_reward = []
median_reward = []
for i in range(len(df)):
  arr = df.loc[i, 'reward_levels']
  min_reward.append(min(arr))
  max_reward.append(max(arr))
  mean_reward.append(round(statistics.mean(arr)))
  median_reward.append(round(statistics.median(arr)))

In [ ]:
df['min_reward'] = min_reward
df['max_reward'] = max_reward
df['mean_reward'] = mean_reward
df['median_reward'] = median_reward
df.head()

   main_category  sub_category  country  ...  max_reward  mean_reward  median_reward
0              1             1       10  ...        2500          632            250
1              7             2       10  ...          50           18             10
2              1             3       10  ...        5000          557             85
3             10             4       10  ...         250           98             75
4              1             1       10  ...        1000          276            100

[5 rows x 16 columns]

In [ ]:
df.to_csv('Rewards Dataset Cleaned Final.csv', index=False)